@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Luxurious+Roman&family=Space+Mono:wght@400;700&family=Staatliches&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  font: 300 11px/1.4 'Helvetica Neue', sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('./assets/images/1.jfif') center/cover fixed no-repeat;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
}

@media only screen and (max-width: 768px) {
  body {
    min-height: 150vh;
  }
}

/* font-family: 'Caveat', cursive;
font-family: 'Luxurious Roman', cursive;
font-family: 'Space Mono', monospace;
font-family: 'Staatliches', cursive; */
